body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
}
.row-flex {
    display: flex;
    flex-flow: row wrap;
}
.main-books {
    min-height: 500px;
}
.tags {
    margin-left: 10px;
}
.tags a {
    color: #fff;
}
